html, body {
    width: 100%;
    padding: 0;
}

html {
    display: flex;
    justify-content: center;
}

body {
    max-width: 440px;
    margin: auto;
}

#section-01 {
    background-image: url('../Assets/images/backgroundsection01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    
}
#container-03 {
    height: 350px;
    width: 100%;
}
#headline-01 {
    text-align: left;
    width: 100%;
    font-size: 16px;
    line-height: 16px;
}
#headline-02 {
    text-align: right;
    width: 100%;
}
#headline-03 {
    border-radius: 5px;
    border: 8px solid #ffffff;
    max-width: 300px;
    max-height: 300px;
}
#headline-03 h2{
    font-size: 80px;
    color: #FFC700;
    
}
#headline-05 h3 {
    letter-spacing: 5px;
    font-size: 40px;
}
#button-01 {
    text-align: center;
    background-color: #FFC700;
    border-radius: 5px;
    cursor: pointer;
    animation: animation-button infinite 0.4s;
    animation-direction: alternate;
}

#countdown-01 {
    height: 100px;
}

#section-02 {
    background-image: url('../Assets/images/background03.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.container-07 {
    width: 1200px;
    overflow: hidden;
}

.container-09 {
    cursor: pointer;
}

.border-radius-right {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.border-radius-left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.container-09 .sub-image{
    padding: 10px;
    bottom:0;
    left: 0;
    color: #fff;
    text-align: center;
    transition: .6s;
    background-image: url('../Assets/images/ticket.jpg');
    background-position: center;
    background-size: cover;
}

#section-03 {
    background-image: url('../Assets/images/background05.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
}

#container-10 {
    height: 400px;
    width: 1200px;
    border-radius: 5px;
    overflow: hidden;
}
.container-11 {
    background-color: #000000;
    opacity: 0.8;
    position: relative;
    height: 100%;
}
.container-12 {
    height: 50%;
    width: 100%;
    position: relative;
    cursor: pointer;
}
.container-12-image {
    height: calc(100% - 50px);
    opacity: 1;
    border-radius: 5px;
    overflow: hidden;
}
.container-12-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container-12-title {
    color: #ffffff;
    height: 50px;
}
.sub-container-12 {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color:#000000;
    color: #ffffff;
    top: 0;
    left: 0;
    transition: .4s;
    opacity: 0.9;
    transform: translateX(-100%);
}

.container-name {
    padding: 10px;
    border-bottom: 1px solid #FFC700;
    color: #fff;
    max-height: 50px;
}

.text-yellow {
    color: #FFC700;
}
.bg-yellow {
    background-color: #FFC700 !important;
}

#section-04 {
    background-image: url('../Assets/images/background06.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#container-13 {
    height: 100px;
    width: 1200px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #ffffff;
    opacity: 0.9;
    position: relative;
}
.carousel-item {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.carousel-item img {
    max-width: 70px;
    object-fit: cover;
}

#section-05 {
    background-image: url('../Assets/images/background06.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
}
#container-15 {
    height: 600px;
    width: 1200px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #ffffff;
    opacity: 0.9;
}
#container-16 {
    height: 250px;
}
#container-17 {
    height: 300px;
}

#section-06 {
    background-image: url('../Assets/images/background07.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#container-18 {
    border-radius: 5px;
    overflow: hidden;
    background-color: #000000;
    opacity: 0.8;
    color: #fff;
    width: 100%;
}
#logogoogle {
    height: 40px;
    margin-bottom: 20px;
}
#logogoogle img {
    height: 100%;
    object-fit: cover;
}

#modalBackground {
    background-color: #000000;
    opacity: 0.5;
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100%;
}

#popupThankyou {
    top: 0;
    left: 0;
    position: fixed;
    height: 90%;
    width: 90%;
    max-width: 300px;
    max-height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:#fff;
    border-radius: 10px;
    padding: 10px;
    opacity: 0.9;
}







@keyframes animation-button {
    from {
        transform: translateY(5px)
    }
    to {
        transform: translateY(0px)
    }
}



